video,
canvas {
  width: 100%;
  height: auto;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 2;
}

button {
  position: absolute;
  bottom: 20px;
  margin: 0 auto;
  width: 200px;
  background: red;
  border-radius: 20px;
  z-index: 3;
}
